@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Globalne style dla inputów */
@layer base {
  input {
    @apply text-gray-900;
  }
  
  input::placeholder {
    @apply text-gray-500;
  }

  /* Zachowuj kolor tekstu dla inputów typu checkbox */
  input[type="checkbox"] {
    @apply text-blue-600;
  }
}